#popup {
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 30px;
    display: none;
    overflow: auto;
    z-index: 1003;
}
.close-button {
    max-height: 50px !important;
    max-width: 50px !important;
}
#popup:target {
    display: block;
}
.breadcrumb {
    z-index: 1004;
    transition: 0.3s ease-in-out;
    bottom: 0;
    right: -300px;
}
